---
import Gift from "../../assets/svg/gift.svg?raw";
---

<div class="group flex h-12 w-12 shrink-0 items-center justify-center overflow-hidden rounded-full border-2 border-gray-200 bg-white text-center shadow-lg">
  <div class="flex h-10 w-10 items-center justify-center overflow-hidden rounded-full bg-blue-800/95 [&>svg]:h-6 [&>svg]:w-6 [&>svg]:shrink-0">
    <Fragment set:html={Gift} />
  </div>
</div>
