---


import CasinoGame from "../../assets/svg/casino-game.svg?raw";
import CasinoLucky from "../../assets/svg/casino-lucky.svg?raw";
import SlotMachine from "../../assets/svg/slot-machine.svg?raw";
---

<div class="group text-center w-12 h-12 bg-white rounded-full border-2 border-gray-200 shadow-lg flex items-center justify-center">
  <div class="flex items-center justify-center w-8 h-8 gap-2">
  
        <Fragment set:html={CasinoLucky} />
       
  </div>
</div>