---
import Gift from "../../assets/svg/gift.svg?raw";
---

<div class="group text-center w-12 h-12 bg-white rounded-full border-2 border-gray-200 shadow-lg flex items-center justify-center">
  <div class="flex items-center justify-center w-10 h-10 gap-2 bg-blue-800/95 rounded-full">
  
        <Fragment set:html={Gift} />
       
  </div>
</div>