---
import '../styles/global.css';
export interface Props {

  class?: string;
}

const { class: className } = Astro.props;


---

<!doctype html>
<html lang="en" class="scroll-smooth">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <body class={`min-h-screen flex flex-col ${className || ''}`}>
    <slot />
  </body>
</html>

